.footer {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.762);
    background-color: #212529;
    margin: auto;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}