.fourohfour {
    padding: 20px;
    margin: 0px;
  text-align: center;
    font-size: 150px;
    font-weight: bold;
    background-image: linear-gradient(to right,
            #cb9b51 45%,
            #f6f2c0 53%,
            #cb9b51 55%,
            #462523 100%);
    color: transparent;
    background-clip: text;
}

.gifContainer {
    align-self: center;
}

.gif {
    height: 350px;
    border: 10px solid #4f5d75;
    border-radius: 10%;
}

.textContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    color: #4f5d75;
    text-align: center;
    font-weight: 700;
    margin: 0px;
}

.button {
    background-color: #4f5d75;
    color: white;
    text-decoration: none;
    border: 0px;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 3px;
}

.button:hover {
    background-color: #424f66;
}